body {    
    color: var(--dutch-white);
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
    
    
}


.work-exp {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 15px 30px;
    border-radius: 5%;   
    border-bottom: 2px solid var(--light-yellow);
    color:var(--light-yellow);
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
    
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

