/* Set Font-size of 16px for readability purposes on Mobile View, Set Font Family
to standard fonts */
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Added border and background color with margin and padding to about-me content box with a 
box shadow */
.about-me {
    background-color: #FFEBC6;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    margin: 70px 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.about-me h1 {
    font-size: 32px;
}

.about1 {
    padding-left: 0;
    padding-right: 0;
}

/* Added padding around paragraph tag content box */
.about-me p {
    padding: 20px;
}


/* Added background color to Horizontal Line tag */
hr {
    width: 80%;
}

h2 {
    color: #FFEBC6;
}

/* Added Italics through CSS instead of <em> html tag */
article span {
    font-weight: 300;
    font-style: italic;
}

/* Set Image Size Width and Height properties */
article img {
    width: 300px;
    height: 300px;
}

/* Aligned text in paragraph tag to the left */
section p {
    text-align: left;
}

