
/* Text Align Horizontal Line, H1 and Main Element to left */
main h1, hr {
    text-align: left;
    margin-left: 20px;
}

/* Set Width 80% for Horizontal Line */
hr {
    width: 80%;
    margin-top: 0;
    margin-bottom: 7vh;
}

/* Style child elements to flex in main element container */
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blog Links styling */
.content-list {
    background-color: #456990B3;
    padding: 20px;
    margin: 20px 20px 10vh 20px;
    box-shadow: 6px 5px 17px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    color: #FFEBC6;
    width: 300px;
    
}

.content-list li {
    padding: 10px;
    list-style-type:square;
    list-style-position: inside;
    text-decoration: none;
    color: #FFEBC6;
}

ul li a{
    text-decoration: none;
    color: #FFEBC6;
}

.blog-links span {
    font-size: 13px;
}

/* Changed H1 text color to #FFEBC6 */

.blog-links {
    margin: 20px;
}

/* Fixed Blog Paragraph content font-size at 13px */
.blog-content p {
    font-size: 13px;
}

main article img {
    width: 100%;
    height: 200px;
}

/* Set margins and padding-top and padding-bottom 20px around Each Article Content Box, 
Set Left and right padding to 0  */
.content-box {
    margin-bottom: 5vh;
    padding: 20px;
    background-color: #456990B3;
    border-radius: 10px;
    box-shadow: 6px 5px 17px 0px rgba(0,0,0,0.75);
    width: 90vw;
}
.content-box h2 {
    font-size: 20px;
}


/* Set display of Blog image to inline-block and set width to take up 50% of parent container  */
.blog-image {
    display: inline-block;
    width: 30%;
    margin-right: 2vw;
}

/* Set display of Blog text to inline-block and set width to take up 40% of parent container 
Set text color #FFEBC6 */
.blog-text {
    width: 40%;
    display: inline-block;
    color: #FFEBC6;
}

.blog-text p {
    font-size: 13px;
}



.text {
    font-size: 16px;
    
}

/* Set Lorem Ipsum Text Color */
.text {
    color: #FFEBC6;
}

/* Set padding around button 10px for top & bottom and 20px for right & left,
Set text color to #FFEBC6 and border values*/
.content-box button {
    padding: 10px 20px;
    background-color: transparent;
    color: #FFEBC6;
    border: 5px inset #FFEBC6;
    border-radius: 2px;
}

@media screen and (min-width: 992px){

    hr {
        display: none;
    }

    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    .content-box {
        width: 40vw;
        height: 45vh;
    }
    .content-box p {
        margin: 0;
    }
    
}

@media screen and (min-width: 1200px){
    main {
        margin-left: 15vw;
    }
    h1 {
        text-align: right;
    }
    
    .content-box {
        width: 30vw;
        padding-bottom: 20px;
    }
    .flexbox {
        gap: 40px;
        flex-wrap: wrap-reverse;
    }
    .box5 {
        position: relative;
        left: -15vw;
        top: 0;
    }

}
