
.quote {
    font-weight: 300;
    font-style: italic;
}


article img {
    width: 300px;
    height: 300px;
    
}

.Sports-box {
    background-color: var(--dutch-white);
    width: 400px;
    color: var(--dark-purple);
    margin: 10px 10px;
    border-radius: 20px;
}

.about-me {
    border-radius: 5px;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    color: var(--dutch-white);
    text-align: center;
   
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

