

.about-me {
    background-color: var(--dutch-white);
}

article img {
    width: 300px;
    height: 300px;
}

.Sports-box {
    background-color: var(--dutch-white);
    width: 400px;
    color: var(--dark-purple);
}