/* Mobile Version Breakpoint max-width: 768px Mobile Breakpoint */

/* Imported Font style Kanit from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defined variables to use universally throughout html pages linking to style.css*/
:root {
    --dutch-white: #FFEBC6;
    --dark-purple: #171738;
    --navy-blue: #456990;
    --light-yellow: #FFD166;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* Reset all margin and padding for elements within HTML and Body Tag */
/* Inserted background image for body */
body {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(0,0,0,0.2)),
    url(../src/images/Earth.jpg) no-repeat center;
    background-position: 50% 40%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFEBC6;
    overflow-x: hidden; 
    overflow-y: scroll;
}

/* Set Logo Size, Border Added with double lines, Margin Added to Top */
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px inset #057dcdcf;
    margin-top: 15px;
}

/* Created Flexbox in Header Element to align as a column  */
.header-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: none;
    width: 100%;
}

/* Hidden logo, name and navbar from header to later use with responsive design using
desktop breakpoint min-width: 1200px */
footer .logo-box {
    display: none;
  }
  
  footer .name-box {
    display: none;
  }
  
  footer .navbar {
    display: none;
  }

/* Set name beneath logo with overlapping content onto Nav Menu using Flexbox*/
.name-box {
    font-family: Kanit;
    font-size: 1.3rem;
    border: 10px ridge  #057dcd;
    border-radius: 20px;
    background-color: #FFEBC6;
    color: black;
    width: 60%;
    margin-top: 2vh;
    position: relative;
    transform: translate(0, 40px);
}

.name-box p {
    margin: 10px;
}

.name-box span {
    color: #057dcd;
}

/* CSS Navigation Menu to add border, text color, background color */
.navbar {
    background-color: #456990B3;
    width: 100vw;
    padding: 25px 0 10px 0;
    border: 10px outset  #057dcd;
    margin: 0;
    border-left: none;
    border-right: none;

}

.nav-flex {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

.nav-flex li a {
    font-size: 1.1rem;
    color: #FFEBC6;
    text-decoration: none;

}


/* Pseudoclass added when mouse hovers over background colour and text color changes */
.nav-text:hover {
    background-color: #FFEBC6;
    color: #057dcd;
}

h1, hr, i {
    color: #FFEBC6;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.info-box p a {
    color: #FFEBC6;
    text-decoration: none;
}


/* Added Footer Section with padding of 20px around top,right,bottom and left */
footer {
    text-align: center;
    width: 100%;
    background-color: #456990B3;
}

/* Set Flex Box for Icons in Footer to display default flex-direction:row; Added Space between each Icon and Centered Each Icon along main axis. Added bottom
margin of 20px */
.social-icons {
    display:flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;

}

/* Changed icon sizes to 30px each */
i {
    font-size: 1.1rem;
}

/* Added Footer Copyright Text with Font size, and Color */
.copyright {
    padding-top: 20px;
    margin: 0;
}

.copyright p {
    margin: 0;
    padding-bottom: 2vh;
}

.info-box p{
    margin: 0 0 2vh 0;
}


/* Tablet Version Breakpoint min Width: 992px */
@media screen and (min-width: 992px){ 
    
.header-box {
    flex-direction: row;
    margin:0;
    justify-content: space-evenly;
    background-color:  #456990B3;
    align-items: center;
    text-align: center;
}
.logo {
    
    padding: 10px;
    width: 5vw;
    height: 5vh;
    border: 5px ridge #FFEBC6;
    margin: 0;

}

.name-box {
    margin: 0;
    background-color: #057dcd;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px outset #FFEBC6;
    width: 20vw;
    position:none;
    transform: none;
    font-size: 1.2rem;
    box-shadow: 6px 5px 17px 0px rgba(0,0,0,0.75);

}

.navbar {
    padding: 0;
    background: none;
    border: none;
    
}
.logo-box {
    padding: 20px;
    margin-top: 0;
}
.header-box div span {
    color: #FFEBC6;
    
}

.header-box, footer {
    box-shadow: 6px 5px 17px 0px rgba(0,0,0,0.75);
}

.social-icons {
    flex-direction: column;
}

.social-icons i {
    font-size: 1.2rem;
}
.nav-text {
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 6px 5px 17px 0px rgba(0,0,0,0.75);
}

.navbar li a {
    font-size: 16px;
}

}

/* Desktop breakpoint 1200px */
@media screen and (min-width: 1200px){

.container {
    width: 50%;
}

footer .logo-box {
    display:block;
  }

.logo {
    width: 5vw;
    height: 10vh;
}

/* Changed color of surname using span */
.name-box span {
    color: #FFEBC6;
  }
  
/* Set properties and values to name content */
.name-box {
    margin: auto;
    padding: 0;
    width: 10vw;
    color: #FFEBC6;
    border: 2px solid #FFEBC6;
  }

  .navbar {
    margin: auto;
    margin-top: 20px;
    width: 8vw;
  }

.nav-flex {
  padding: 0;
  width: 10vw;
  gap: 4.5vh;
  margin-top: 2vh;
}

/* Set footer to flex-direction column to change default axis, added width, height */
footer {
    flex-direction: column;
    width: 15vw;
    height: 100%;
    position: fixed;
    top:0;
    justify-content: center;
    align-items: center;
  }


/* Padding added to text section within footer */
.info-box, .copyright {
    display: none;
  }

  footer .name-box {
    display: block;
    padding: 0 10px;
  }
  
  footer .navbar {
    display: flex;  
}
.nav-flex {
    flex-direction: column;
    justify-content: center;
}
  
body {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(../src/images/Tech.jpg) no-repeat;
}

/* Removed header section for responsive design wtih Desktop Breakpoint min-width: 1200px */
.header-box {
    display: none;
  }

.social-icons {
    margin-top: 4vh;
}

}