/* Imported Font style Kanit from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defined variables to use universally throughout CSS Pages */
:root {
    --dutch-white: #FFEBC6;
    --white: #F1FFFA;
    --dark-purple: #171738;
    --navy-blue: #456990;
    --light-yellow: #FFD166;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}

html, body {
    margin: 0;
    padding: 0;
}

/* Inserted background image for body */
body {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.05)),
    url(../images/Earth.jpg) no-repeat center;
    background-position: 50% 40%;
}

/* Set Logo Size, Border Added with double lines, Margin Added to Top */
.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px inset #057dcdcf;
    margin-top: 15px;
}

/* Created Flexbox in Header Element to align as a column  */
.flex1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: none;
    color: #FFEBC6;
    width: 100%;
}


/* Set name beneath logo with overlapping content onto Nav Menu using Flexbox*/
.name {
    font-family: Kanit;
    font-size: 1.7rem;
    border: 10px ridge  #057dcd;
    border-radius: 20px;
    background-color: #FFEBC6;
    color: black;
    width: 80%;
    margin-top: 5vh;
    position: relative;
    transform: translate(0, 25px);
    z-index: 1;
    

}
.name p {
    margin: 15px;
}

.name span {
    color: #057dcd;
}

/* CSS Navigation Menu to add border, text color, background color */
.nav-menu {
    background-color: #456990B3;
    width: 100%;
    padding: 40px 0 10px 0;
    margin: auto;
    flex-direction: row;
    position: relative;
    border: 10px outset  #057dcd;
    border-left: 0;
    border-right: 0;
    
}

/* Added color to text within navigation bar, added padding, removed default highlighting to texts with anchor tag. Changed font size */
.nav-text {
    padding: 0 15px;
    text-decoration: none;
    color: #FFEBC6;
    font-size: 1rem;
}

/* Pseudoclass added when mouse hovers over background colour and text color changes */
.nav-text:hover {
    background-color: #057dcd;
    color: #e8eef1;
}

section {
    text-align: center;
}

h1, h2, hr, i {
    color: #057dcd;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

hr {
    border: 1px solid #FFEBC6;
    width: 300px;
}

.container {
    display: flex;
    height: 400px;
    width: 100%;
    margin-left: 10px;
    align-items: center;

}

.visionBox2 {
    font-size: 20px;
    background-color: #FFEBC6;
    border: 5px ridge red;
    width: 50%;
    height:200px;
    color: black;
    padding: 10px 20px;
    position: relative;
    left: -25px;
    border-radius: 5%;
}

.container p {
    margin: 0;
    padding: 0;
}



.visionBox1 img {
    width: 200px;
    height:300px;
}

/* Created a section with  */
section ul {
    background-color: #FFEBC6;
    margin: 40px;
    padding: 30px;
    color: black;
    font-size: 20px;
    border: 5px solid red;
    border-radius: 5%;;
    box-shadow: 6px 5px 17px 0px rgba(0,0,0,0.75);
    border-left: 0;
    border-right: 0;
}

h2:nth-child(2){
    color: #057dcd;
}

/* Added Footer Section with padding of 20px around top,right,bottom and left */
footer {
    padding: 30px;
    text-align: center;
    background-color: #456990B3;
    

}

/* Set Flex Box for Icons in Footer to display default flex-direction:row; Added Space between each Icon and Centered Each Icon along main axis. Added bottom
margin of 20px */
.social-icons {
    display:flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}

/* Changed icon sizes to 30px each */
i {
    font-size: 30px;
}

/* Added Footer Copyright Text with Font size, and Color */
.copyright {
    color: #FFEBC6;
    font-size: 1rem;
    padding-top: 20px;
}